PORT_NUMBER=8080
NODE_ENV="development"
JWT_KEY="somekey"

# DB Options
DATABASE_HOST="localhost"
DATABASE_USERNAME="postgres"
DATABASE_PASSWORD="postgres"
DATABASE_DATABASE="influshop"
DATABASE_PORT=5432
DATABASE_SSL=false

# Admin Options
ROOT_ADMIN_EMAIL="root@root.coom"
ROOT_ADMIN_PASSWORD="password"
ADMIN_PAGINATION_LIMIT

# Cloudinary Options
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_ITEM_IMAGES_PRESET=influshop_items
CLOUDINARY_COMMENT_IMAGES_PRESET=influshop_comments
CLOUDINARY_PROFILE_IMAGES_PRESET=influshop_profile_images